body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.185rem;
    font-style: normal;
    color: var(--whity);
    height: 99.75rem;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #131C37;
    background-size: cover;
    white-space: nowrap;
    user-select: none;
}

:root {
    font-size: min(1vw, 10px);
    --whity: #F7F7F7;
    --clickable: #506BEE54;
    --clicked-background: linear-gradient(200deg, rgba(4,60,253,0) 0%, rgba(5,56,132,0.5) 74%), #6080F080;
    --clicked-border: #20A0F0;
    --unclickable: #465FFF26;
    --black: #00000080;
    --blue: #192038;
    --green: #21C00880;
    --white: #FFFFFF;
    --purple: #C0083480;
}

input {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.185rem;
    font-style: normal;
    color: var(--whity);
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    70% {
        transform: translateY(-2.5px);
    }
}

h2 {
    background-color:var(--clicked-background);
    border: 0.1rem solid var(--clicked-border);
    border-radius:0.75rem;
    margin: 1rem 1rem;
    padding: 0.25rem 0 0.05rem 0.5rem;
    font-size:1.2rem;
    font-weight:400;
    cursor:default;
}

.line {
    height:0;
    width: 75%;
    align-self:center;
    border-top: 0.1rem solid #C0C0C060;
    margin: 0.5rem 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    height: 6rem;
    width: 100%;
    user-select: none;
    background-color: var(--unclickable);
    top: 0;
    position: absolute;
}

.button, .mini-button, .fat-button, .mid-button, .thin-button, .regular-button, .menu-button, .inside-button {
    border: 0.1rem solid transparent;
    width: 11.75rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-family: 'Inter';
    font-size: 1.15rem;
    font-style: normal;
    color: var(--whity);
    background-color: var(--clickable);
    padding: 0.75rem 1.25rem;
    border-radius: 0.75rem;
}

.button {
    background-color:#00000000;
    margin:0;
    padding:0.3rem 0 0.3rem 1rem;
    border-radius:0;
}

.regular-button {
    width: 10.5rem;
    font-weight:800;
}

.button:hover {
    background-color:#00000060;
}

.inside-button {
    padding:0;
    width:100%;
    background-color:transparent;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.mini-button {
    width:3rem;
    height:2rem;
    justify-content:center;
    padding-top:0.65rem;
    padding-bottom:0.85rem;
}

.fat-button, .menu-button {
    width:9.85rem;
    height:4rem;
    display:flex;
    flex-direction:column;
    gap:0.5rem
}

.menu-button {
    width: 8rem;
    background-color: #506BEE30;
}

    .menu-button:hover {
        background: var(--clickable);
    }

.mid-button {
    width: 10.1rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.thin-button {
    padding-top: 0.9rem;
    padding-bottom: 0.6rem;
    width: 9.5rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.icon, .arrow {
    width: 1.75rem;
    object-fit: contain
}

.arrow {
    width: 1rem;
}

.map-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.15rem;
    background-color: var(--unclickable);
    border-radius: 0 0 1rem 1rem;
    width: 50rem;
    height: 50rem;
    position: relative;
}

.map {
    height: 80.0%;
    width: calc(80.0%/11*7);
    user-select: none;
    position: absolute;
    border-collapse:collapse;
}

    .map:hover {
        cursor: crosshair;
    }

.map-tile-button, .map-tile-image, .map-tile-upper, .map-tile-back {
    width: calc(100.0%/21);
    height: calc(100.0%/33);
    position: absolute;
    opacity: 0;
    cursor: crosshair;
    object-fit: cover;
    box-sizing:border-box;
}

.map-tile-back {
    opacity: 1;
}

.title1 {
    font-size: 1.84rem;
    padding-left: 1.15rem;
    margin-bottom:3rem;
}

.subtitle1 {
    padding-left: 1.15rem;
    margin-top: 0.6325rem;
    margin-bottom: 0.575rem;
    font-size: 1.38rem;
}

.subtext {
    color: #C0C0C0;
}

.tiles-container {
    background-color: var(--clickable);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.25rem;
    border-radius: 0.75rem;
    width: 20rem;
    height: fit-content;
    min-height:35rem;
}

.tile-display {
    border:0.1rem solid transparent;
    width: 10%;
    height: auto;
    padding: 0.35rem;
    transition: transform ease-out 0.2s, background-color ease 0.1s;
    border-radius: 0.75rem;
}

    .tile-display:hover {
        transform: translateY(15%);
    }

.tile-display-selected {
    background: #FFFFFF50;
}

.tile-display-replace-from {
    background: #F81E1EB0;
}

.tile-display-replace-to {
    background: var(--green);
}

.scroll-view {
    display: none;
    flex-direction: column;
    background-color: #283573;
    border-radius: 1rem;
    width: 12.8rem;
    margin-top: 4.3rem;
    height: fit-content;
    max-height: 31rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    cursor: pointer;
    z-index: 100
}

    .scroll-view::-webkit-scrollbar {
        width: 0.8625rem;
    }

    .scroll-view::-webkit-scrollbar-track {
        width: 2.3rem;
        height: 2.3rem;
    }

    .scroll-view::-webkit-scrollbar-thumb {
        background: var(--clicked-border);
        border-radius: 0.75rem;
    }

input[type="radio"] + label + .scroll-view, input[type="checkbox"] + label + .scroll-view {
    display: flex;
    transition: height 0.2s linear;
    height: 0;
    padding: 0 0.25rem 0 0;
}

input[type="radio"]:checked + label + .scroll-view, input[type="checkbox"]:checked + label + .scroll-view {
    display: flex;
    height: 31rem;
    border: 0.1rem solid #5B79B2;
    padding: 0.5rem 0.25rem 0.5rem 0;
    cursor:default;
}

input[type="radio"], input[type="checkbox"], input[type="button"] {
    display: none;
}

    input[type="checkbox"] + label, input[type="button"] + label:not(.button), input[type="radio"] + label:not(:has(+ .scroll-view)) {
        transition: background ease 0.1s, box-shadow ease 0.1s;
        cursor: pointer;
    }

        input[type="checkbox"]:checked + label:not(.button), input[type="button"]:not(#clearer):active + label:not(.button), input[type="radio"]:checked + label:not(:has(+ .scroll-view)) {
            background: var(--clicked-background);
            box-shadow: inset 0 0 0 0.1rem var(--clicked-border);
        }

#clearer:active + label {
    filter:brightness(0.95);
}

input[type=checkbox] + label.button {
    transition: color ease 0.1s;
    cursor: pointer;
}

input[type=checkbox]:checked + label.button {
    color: #239FF9;
} 

input:checked + label .arrow:last-child {
    transform: rotate(180deg);
}

input + label .arrow:last-child {
    transition: transform 0.2s linear;
    transform: rotate(0deg);
}

input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.725rem;
    line-height: 2.185rem;
    font-style: normal;
    color: var(--whity);
    text-align: center;
}
    input[type="text"]::placeholder {
        color: #C0C0C0;
    }

body::-webkit-scrollbar-thumb {
    visibility: hidden;
}

#areaSelector + label {
    transition: all 0.5s ease;
    padding-top:0.5rem;
    padding-bottom:1rem;
}

#areaSelector:checked + label {
    height: 32rem;
    box-shadow: inset 0 0 0 0.1rem var(--clicked-border);
    background-color: #506BEE54;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

#areaSelector:checked + label .area-container:last-child {
    height: 27rem;
}

#areaSelector + label .area-container:last-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

#areaSelector:checked + label #areaText {
    height:0;
    width:65%;
    border-top: 0.1rem solid #C0C0C060;
    margin: 0.5rem 0 0 0;
    font-size:0;
}

#areaSelector:checked + label span:first-child {
    margin-top:0.5rem;
    padding:0.5rem;
    background: var(--clicked-background);
    box-shadow: inset 0 0 0 0.1rem var(--clicked-border);
}

#areaSelector + label span:first-child {
    transition:all 0.5s ease;
}

#areaSelector + label #areaText {
    text-align:center;
    transition: all 0.5s ease;
}